
<h1>Controle de Gastos</h1>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">add_task</mat-icon>
      Lançamento de Despesas
    </ng-template>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9">
          <app-gastos></app-gastos>
        </div>
        <div class="col-lg-5 col-md-3">
          <app-pie-chart></app-pie-chart>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Em Construção...
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Em Construção...
    </ng-template>

    Content 3
  </mat-tab>
</mat-tab-group>

